<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/download.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>this site was created by avinash dhanani. It use data form mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/robot.jpg" />
        <p>Created by {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>